$white: rgb(255, 255, 255);
$peachtreeBlue: rgb(35, 133, 150);

.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.card--header {
  background-color: $peachtreeBlue;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card--img {
  display: flex;
}

.card--title {
  color: $white;
  width: 100%;
  text-align: center;
}

.card--content {
  padding: 20px;
}
