.nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: auto;
  width: auto;
  padding: 20px;
  border-bottom: solid 3px orange;
}

/* Logo has no margin. I thought it looked better hugging the left side of the screen */
.nav__logo {
  height: 40px;
}

/* Navbar logo changes on smaller screens */
@media only screen and (max-width: 600px) {
  .nav__logo {
    height: 30px;
    content: url(../../assets/images/favicon/favicon.png);
  }
}
