<div class="transfer" *ngIf="account$ | async as account">
  <!-- Reactive Form -->
  <form
    [formGroup]="transferForm"
    (ngSubmit)="onSubmit(account.balance, account.accountName)"
  >
    <div class="form-group">
      <label for="fromAccount">From Account</label>
      <!-- Disabled input displaying an account and balance.
      Uses a data pipe and updates as the account drains. -->
      <input
        class="disabledInput"
        type="text"
        id="fromAccount"
        placeholder="{{ account.accountName }} - {{
          account.balance | currency: 'USD':'symbol':'1.2-2'
        }}"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="toAccount">To Account</label>
      <!-- Input to recieve an account name.
      Has validation warnings if it is touched and not valid. -->
      <input
        type="text"
        formControlName="toAccount"
        id="toAccount"
        placeholder="Georgia Power Electric Company"
        onfocus="this.placeholder = ''"
        [class.invalidInput]="
          !transferForm.get('toAccount').valid &&
          transferForm.get('toAccount').touched
        "
      />
      <span
        *ngIf="
          !transferForm.get('toAccount').valid &&
          transferForm.get('toAccount').touched
        "
        >Please enter an account name</span
      >
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <!-- Input to recieve an amount.
      Has validation warnings if it is touched and not valid. -->
      <input
        formControlName="amount"
        type="number"
        step="0.01"
        min="0"
        id="amount"
        placeholder="$ 0.00"
        onfocus="this.placeholder = ''"
        [class.invalidInput]="
          !transferForm.get('amount').valid &&
          transferForm.get('amount').touched
        "
      />
      <span
        *ngIf="
          !transferForm.get('amount').valid &&
          transferForm.get('amount').touched
        "
        >Please enter a valid amount</span
      >
    </div>
    <!-- Validation warning if the form is not filled -->
    <span *ngIf="errorMessage">Please fill out all of the fields</span>
    <!-- Validation warning if the user tries to go below -$500 -->
    <span *ngIf="overdrawn">You cannot overdraw more than $500 </span>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
