<div class="search">
  <div class="search__bar">
    <!-- Uses two-way binding to update as the user types in the search field -->
    <input
      type="text"
      placeholder="Search by typing..."
      onfocus="this.placeholder = ''"
      onblur="this.placeholder='Search by typing...'"
      [(ngModel)]="searchFilter.search"
      (keyup)="searchBy()"
    />
    <button class="search__btn" (click)="clear()">X</button>
  </div>
  <div class="sort">
    <div class="sort__by">Sort by</div>
    <!-- Determines if the button is active and ascending or descending -->
    <button
      class="sort__btn"
      (click)="sortBy('date')"
      [class.btn-active]="searchFilter.sort == 'date'"
    >
      DATE
      {{ displaySymbol("date") }}
    </button>
    <!-- Determines if the button is active and ascending or descending -->
    <button
      class="sort__btn"
      (click)="sortBy('merchant')"
      [class.btn-active]="searchFilter.sort == 'merchant'"
    >
      BENEFICIARY
      {{ displaySymbol("merchant") }}
    </button>
    <!-- Determines if the button is active and ascending or descending -->
    <button
      class="sort__btn"
      (click)="sortBy('amount')"
      [class.btn-active]="searchFilter.sort == 'amount'"
    >
      AMOUNT
      {{ displaySymbol("amount") }}
    </button>
  </div>
</div>
