/* Responsive Background */
.bg {
  background-image: url(../../assets/images/background/background.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
